<% include ./../partials/header.ejs %>
<div class="container">
  <div class="form_wrap">
    <% if (message != '') { %>
    <p class="text-center text-danger">
      <%= message %>
    </p>
    <% } %>
    <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="developer">Developer</label>
          <select id="developer" name="developer_id" class="form-control" required>
            <% developers.forEach((developer, index) => { %>
            <option value="<%= developer.id %>">
              <%= developer.name %>
              <%= developer.surname %>
              (
              <%= developer.position %>)
            </option>
            <% }) %>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="reviewer">Reviewer</label>
          <select id="reviewer" name="reviewer_id" class="form-control" required>
            <% reviewers.forEach((reviewer, index) => { %>
            <option value="<%= reviewer.id %>">
              <%= reviewer.name %>
              <%= reviewer.surname %>
              (
              <%= reviewer.position %>)
            </option>
            <% }) %>
          </select>
        </div>
      </div>


      <div class="form-row col-md-6">
        <div class="form-group">
          <label for="reviewer">Skill grade matrix</label>
          <select id="reviewer" name="matrix_id" class="form-control" required>
            <% matrix.forEach((m, index) => { %>
            <option value="<%= m.id %>">
              &nbsp;
              <%= m.Position %> &nbsp;
            </option>
            <% }) %>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-info float-right">Add Ppr</button>
    </form>

  </div>

</div>
</div>
</body>

</html>